<div class="iconbox left">
  <%= icon(newest_member) %>
  <div class="hover">
    <%= icon(newest_member) %>
    <div class="text">
      <span><%= link_to h(newest_member.f), newest_member %></span>
    </div>
  </div>
</div>
