<div class="newest_member clear">
  <div class="left">
    <%= icon newest_member %> 
  </div>
  <div class="left" style="margin-left: 10px;">
    <%= link_to h(newest_member.f), newest_member %>
  </div>
  <div class="clear"></div>
</div>
