<div class="newest_member left" style="margin-right: 1em;">
  <div style="border: 1px solid #333; padding: 2px;">
    <%= icon newest_member %>
  </div>
  <div style="text-align: center; margin-top: .25em;">
    <%= link_to h(newest_member.user.login), newest_member %>    
  </div>
</div>  

