<% content_for :side do %>

<%= render :partial => 'admin/shared/admin_menu' %>

<% end %>

<div class="white_box blue_top">
  <h1>Edit Location: <%= h @location.name %></h2>

  <%= render :partial => 'admin/locations/form' %>
</div>
