.DS_Store
db/*.db
db/*.sqlite3
db/schema.rb
db/sphinx/development
log/*.log
log/*.pid
log/*.out
tmp
config/database.yml
config/amazon_s3.yml
config/backgroundrb.yml
index
config/*.sphinx.conf
public/system
public/javascripts/less_routes.js
test/public/system
vendor/rails
nbproject
