<div id="footer">
  &copy; 2008 Center for Multicultural Cooperation <br />
  <a href="http://cmcweb.org/">http://cmcweb.org/</a> | info@cmcweb.org | 559.355.7740 <br />
  P.O. Box 27442 | Fresno, CA | 93729
</div>

<div id="message" class="fixed"></div>

