<div id="footer">
  &copy; 2008 Center for Multicultural Cooperation <br />
  <a href="http://cmcweb.org/">http://cmcweb.org/</a> | <%= link_to 'info@californiavoices.org', contact_path %> | 559.355.7740 <br />
  P.O. Box 27442 | Fresno, CA | 93729<br />
  <%= link_to 'terms of service', tos_path %>
</div>

<div id="message" class="fixed"></div>

