<div class="blue_box">
<form action="/contact/" method="post">
  <h2 class="underline">Contact Us</h1>

  <div class="row clear">
    <label for="form_name">Your name:</label>
    <input type="text" id="form_name" name="name" />
  </div>

  <div class="row clear">
    <label for="form_phone">Your phone number:</label>
    <input type="text" id="form_phone" name="phone" />
  </div>

  <div class="row clear">
    <label for="form_email">Your email:</label>
    <input type="text" id="form_email" name="email" />
  </div>

  <div class="row clear">
    <label for="form_message">Your message/question:</label>
    <textarea id="form_message" name="message"></textarea>
  </div>

  <input type="submit" value="Send" class="button"/>
  
  <div class="clear"></div>

</form>
  
<h2 class="underline">Contact Information</h1>

<h4>Julie Caso</h4>
<p>California Voices Director<br />
Center for Multicultural Cooperation<br />
(559) 246-9322 (mobile)  |  jcaso@cmcweb.org<br />
P.O. Box 27442, Fresno, CA 93729</p>

<h4>Nicole Jarred</h4>
<p>Sacramento Regional Director<br />
Center for Multicultural Cooperation<br />
(916) 955-8270  |  njarred@cmcweb.org</p>

<h4>Jeanine Rutledge</h4>
<p>Media Arts Coordinator<br />
Center for Multicultural Cooperation<br />
(916) 203-4396  |  JRutledge@cmcweb.org</p>

</div>
