<% content_for :side do %>

<% end %>

<div id="terms_and_service" class="blue_box clear">

<h1 id="California-Voices-Privacy-Policy">California Voices Privacy Policy</h1>

<p>No information is required from you if you only wish to read and search the contents of California Voices. If you only read California Voices, no more information is collected than is typically collected in server logs by web sites in general.</p>


<p>If you contribute to the California Voices, you are publishing every word you post publicly. If you write something, assume that it will be retained forever, and associated with your name and whatever personal information you provide upon registering for an account.</p>


<h2 id="Registering-on-California-Voices">Registering on California Voices</h2>


<p>When you register for an account on California Voices, you will be asked for information including (but not limited to) a working email address, your real name, and your real location. You may also choose to provide additional information including your job title, your homepage, and a picture.</p>


<p>Except for the email address you provide, all of the above information will be publicly available to anyone who chooses to search California Voices. Your email address will never be sold or otherwise provided to any third party which is not directly associated with California Voices. The Center for Multicultural Cooperation and its partners reserve the right to maintain a list of provided email addresses and to use such for reasons associated with California Voices or your account.</p>


<h2 id="Publishing-on-California-Voices">Publishing on California Voices</h2>


<p>You must be registered and logged-in in order to edit any page on California Voices. When you edit any page on California Voices, you are publishing a document. This is a public act, and you are identified publicly with that edit as its author.</p>


<h3 id="Identification-of-an-author">Identification of an author</h3>


<p>You must be logged-in in order to edit a page on California Voices. Once logged in, you will be identified by your user name and account. Any and all changes you make to California Voices will therefore be logged and tagged with your account (and therefore as well as with any information you provide as part of your account profile). Changes will be stored with the specific story on which the edits were made. Additionally, RSS feeds will broadcast all changes made to whomever subscribes to the appropriate RSS feed, and such feed may include your user name.</p>


<h3 id="Cookies">Cookies</h3>


<p>California Voices will set a temporary session cookie whenever you visit the site. If you do not intend to ever log in, you may deny this cookie, but you cannot log in without it. It will be deleted when you close your browser session.</p>


<p>More cookies may be set when you log in, to avoid typing in your user name (or optionally password) on your next visit, should you click the box “Remember me for 14 Days” when logging in. These last up to 14 days. You may clear these cookies after use if you are using a public machine and don’t w ish to expose your user name to future users of the machine. (If so, clear the browser cache as well.)</p>


<h3 id="Passwords">Passwords</h3>


<p>Some aspects of the California Voices community interactions depend on the reputation and respect that is built up through a history of valued contributions. User passwords are the only guarantee of the integrity of a user’s edit history. All users are encouraged to select strong passwords and to never share them. No one shall knowingly expose the password of another user to public release either directly or indirectly.</p>


<h2 id="Private-logging">Private logging</h2>


<p>Every time you visit a web page, you send a lot of information to the web server. Most web servers routinely maintain access logs with a portion of this information, which can be used to get an overall picture of what pages are popular, what other sites link to this one, and what web browsers people are using. It is not the intention of the Social source Commons to use this information to keep track of legitimate users.</p>


<p>Log data may be examined by developers in the course of solving technical problems and in tracking down badly-behaved web spiders that overwhelm the site. IP addresses of users, derived either from those logs or from records in the database are frequently used to correlate usernames and network addresses of edits in investigating abuse California Voices, including the suspected use of malicious “sockpuppets” (duplicate accounts), vandalism, harassment of other users, or disruption of the site.</p>


<h2 id="Sharing-information-with-third-parties">Sharing information with third parties</h2>


<p>Except where otherwise specified, all text and other media added to California Voices is available for reuse under a Creative Commons License.</p>


<p>Neither the Center for Multicultural Cooperation nor its affiliated partners will sell or share private information, such as email addresses, with third parties, unless you agree to release this information, or it is required by law to release the information.</p>

</div>
