<div class="iconbox left">
  <%= link_to image_tag(newest_story.icon), newest_story %>
  <div class="hover">
    <%= link_to image_tag(newest_story.icon), newest_story %>
    <div class="text">
      <span><%= link_to h(newest_story.title), newest_story %></span>
    </div>
  </div>
</div>  
