<div class="iconbox left">
  <%= clipping(newest_story, :tiny) %>
  <div class="hover">
    <%= clipping(newest_story, :tiny) %>
    <div class="text">
      <span><%= link_to h(newest_story.title), newest_story %></span>
    </div>
  </div>
</div>  
