<div class="blue_box">

  <h2 class="underline">More Admin Options</h2>

  <ul>
    <li><%= link_to 'User Accounts', admin_users_path %>
    <li><%= link_to 'Stories', admin_stories_path %>
    <li><%= link_to 'Locations and School Sites', admin_locations_path %>
  </ul>

</div>
